{% if is_paginated %}
<div class="pagination-container">

    <!-- Previous -->
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" class="prev">&lsaquo;</a>
    {% else %}
        <span class="prev disabled">&lsaquo;</span>
    {% endif %}

    <!-- Page numbers -->
    {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
            <span class="current">{{ i }}</span>
        {% else %}
            <a href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    <!-- Next -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" class="next">&rsaquo;</a>
    {% else %}
        <span class="next disabled">&rsaquo;</span>
    {% endif %}

</div>
{% endif %}
