{% extends "base_dashboard.html" %}

{% load static %}

{% block title %}
    اضافة {{ model_name_singular }}
{% endblock %}

{% block content %}
<div class="container mt-4">
    

    <h1 class="mb-4">
        إضافة جديد 
        {{ model_name_singular }}
    </h1>

    <div class="card p-4">
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <h3 class="mb-3 text-primary">المعلومات الاساسية </h3>
            
            <div class="row">
                {{ form.as_p }}
            </div>
            
            <hr class="my-5">

            {% if attachment_formset %}
            <h3 class="mb-3 text-info"> مرفقات  {{ model_name_singular }}</h3>
            
            <div class="alert alert-info">
                يمكنك إضافة مرفقات هنا. إذا لم تقم بإضافة ملف، سيتم تجاهل هذا الجزء عند الحفظ.
            </div>

            {{ attachment_formset.management_form }}

            <table class="table table-bordered table-sm table-striped">
                <thead>
                    <tr>
                        <th>File</th>
                        <th>Is URL?</th>
                        <th>Shareable?</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="attachment-form-container">
                    {% for attachment_form in attachment_formset %}
                    <tr class="attachment-form-row">
                        <td>
                            {{ attachment_form.file }}
                            {% if attachment_form.instance.pk %}
                                <p class="text-muted small mt-1">
                                    Current File:
                                    <a href="{{ attachment_form.instance.file.url }}" target="_blank">
                                        {{ attachment_form.instance.file.name|default:"File Link" }}
                                    </a>
                                </p>
                            {% endif %}
                            {% if attachment_form.file.errors %}
                                <div class="text-danger small">{{ attachment_form.file.errors }}</div>
                            {% endif %}
                        </td>
                        
                        <td>
                            {{ attachment_form.is_url }}
                        </td>
                        
                        <td>
                            {{ attachment_form.can_be_shared }}
                        </td>
                        
                        <td>
                            {{ attachment_form.DELETE }}
                            {% if attachment_form.non_field_errors %}
                                <div class="text-danger small">{{ attachment_form.non_field_errors }}</div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% endif %}

            <hr>
            
            <div class="d-flex justify-content-start gap-2 mt-4">
                <button type="submit" class="btn btn-primary btn-lg">
                    حفظ
                </button>
                <a href="{% url model_name|add:'-list' %}" class="btn btn-secondary btn-lg">
                    الغاء
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}