{% extends "base_dashboard.html" %}
{% block title %}أنواع المقالات{% endblock %}

{% block content %}
<div class="main_dashboard">
<div class="container mt-4">

    <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#createModal">
        إضافة نوع مقال جديد
    </button>
    {% include 'includes/messages.html' %}

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">
                    {% if form.instance.pk %}
                        تعديل نوع المقال: {{ form.instance.name_ar }}
                    {% else %}
                        إضافة نوع مقال جديد
                    {% endif %}
                </h5>
                <button type="button" 
                        style="margin-right: auto; margin-left: 0 !important;" 
                        class="btn-close" 
                        data-bs-dismiss="modal" 
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="articleTypeForm"
                      action="{% if form.instance.pk %}
                                {% url 'update_article_type' pk=form.instance.pk %}
                              {% else %}
                                {% url 'list_article_types' %}
                              {% endif %}">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="error">{{ form.non_field_errors }}</div>
                    {% endif %}

                    {{ form.as_p }}
                    
                    <button type="submit" class="btn btn-primary w-100 mt-2">
                        {% if form.instance.pk %}
                            حفظ التعديلات
                        {% else %}
                            حفظ
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

    <div class="card p-3">
        <h3>أنواع المقالات</h3>
        <div class="table-responsive">
            <form>
                <div style="display: flex;">
                    <input  placeholder="Name" type="text" name="name" value="{{request.GET.name}}" class="form-control w-50 m-2" style="margin-bottom: 50px !important">
                     <button type="submit" class="btn btn-primary w-30">
                        بحث 
                    </button>
                    <button  class="btn btn-primary w-30" >
                        <a href="{% url 'list_article_types' %}">
                        clear filters</a> 
                    </button>
                </div>
            </form>
            <table class="table table-bordered table-striped">
                <thead class="table-primary">
                    <tr>
                        <th>#</th>
                        <th>الاسم بالعربي</th>
                        <th>الاسم بالانجليزي</th>
                        <th>تاريخ الإنشاء</th>
                        <th>تاريخ آخر تعديل</th>
                         <th>الإجراء</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in article_types %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.name_ar }}</td>
                        <td>{{ item.name_en }}</td>
                        <td>{{ item.created_at|date:"Y-m-d H:i" }}</td>
                        <td>{{ item.updated_at|date:"Y-m-d H:i" }}</td>
                        <td>
                        <a href="{% url 'update_article_type' pk=item.pk %}" class="btn btn-sm btn-info">تعديل</a>
                        
                        <form method="POST" action="{% url 'delete_article_type' pk=item.pk %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger" 
                                    onclick="return confirm('هل أنت متأكد من حذف النوع: {{ item.name_ar }}؟')">
                                حذف
                            </button>
                        </form>
                        </td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">لا يوجد بيانات</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

           <div class="pagination-container" style="display: flex; justify-content: center; gap: 5px; margin-top: 20px;">
                {% if article_types.has_previous %}
                    <a href="?page={{ article_types.previous_page_number }}" class="prev">« السابق</a>
                {% else %}
                    <span class="prev disabled">« السابق</span>
                {% endif %}

                {% for num in article_types.paginator.page_range %}
                    {% if article_types.number == num %}
                        <a href="#" class="current">{{ num }}</a>
                    {% else %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if article_types.has_next %}
                    <a href="?page={{ article_types.next_page_number }}" class="next">التالي »</a>
                {% else %}
                    <span class="next disabled">التالي »</span>
                {% endif %}
            </div>
        </div>
    </div>

</div>
</div>

{% endblock %}



